.gitattributes export-ignore
.gitignore export-ignore
.kakrc export-ignore
.mailmap export-ignore
screenshot-command.txt export-ignore
screenshots export-ignore
stylua.toml export-ignore
thumbnail-x2.png export-ignore
